<div class="main-side-column main-column">
  <button mat-button (click)="routeToAdmin();"><mat-icon>arrow_back</mat-icon> {{'admin/back-to-admin' | translate}}</button>
</div>
<div class="main-center-column-small main-column">
  <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload/>

  <button mat-raised-button
          color="primary"
          *ngIf="file"
          (click)="onImportClicked()">{{ 'admin/export' | translate }}
  </button>
</div>
<div class="main-side-column main-column">
</div>
