<div class="main-side-column main-column">
  @if (!nameInEdit && !interestInEdit) {
    <button mat-button (click)="onCancelButtonClicked();">
      <mat-icon>arrow_back</mat-icon>
      {{ 'loan/part/back-to-loan' | translate }}
    </button>
  }
</div>

<div class="main-center-column-small main-column">
  @if (form && loanPart) {
    <mat-card class="full-width" style="max-width: 100%; width: 100%;">
      <mat-card-header>
        @if (loanPart.id) {
          <mat-card-title>{{ 'loan/part' | translate }}</mat-card-title>
        }
        @if (!loanPart.id) {
          <mat-card-title>{{ 'loan/part/create' | translate }}</mat-card-title>
        }
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form">
          @if (!nameInEdit) {
            {{ loanPart.name }}
            @if (!interestInEdit) {
              <button mat-button (click)="nameInEdit = true" [attr.data-cy]="'edit-loan-part'">
                <mat-icon>edit</mat-icon>
              </button>
            }
            <br/><br/>
          }
          @if (nameInEdit) {
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>{{ 'loan/part/name' | translate }}</mat-label>
              <input type="text" [attr.data-cy]="'name'" matInput formControlName="name" required>
              @if (form.get('name')?.hasError('required')) {
                <mat-error>
                  {{'loan/form/name-required' | translate}}
                </mat-error>
              }
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>{{ 'loan/part/amount' | translate }}</mat-label>
              <input type="text" [attr.data-cy]="'amount'" matInput formControlName="amount" required>
              @if (form.get('amount')?.hasError('required')) {
                <mat-error>
                  {{'loan/form/amount-required' | translate}}
                </mat-error>
              }
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>{{ 'loan/part/loan-type' | translate }}</mat-label>
              <mat-select formControlName="loanType" [attr.data-cy]="'loan-type'" required>
                @for (loanType of Util.getLoanTypes(); track loanType) {
                  <mat-option [value]="loanType">{{ loanType }}</mat-option>
                }
              </mat-select>
              @if (form.get('loanType')?.hasError('required')) {
                <mat-error>
                  {{'loan/form/loan-type-required' | translate}}
                </mat-error>
              }
            </mat-form-field>
            @if (form.value.loanType == LoanType.MORTGAGE_LINEAR) {
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>{{ 'loan/part/repayment-amount' | translate }}</mat-label>
                <input type="text" [attr.data-cy]="'repayment-amount'" matInput formControlName="repaymentAmount">
                <mat-icon matSuffix>amount</mat-icon>
              </mat-form-field>
            }
            <mat-form-field class="half-width">
              <mat-label>{{ 'start-date' | translate }}</mat-label>
              <input matInput [matDatepicker]="pickerStartDate" formControlName="startDate" [attr.data-cy]="'start-date'">
              <mat-hint>MM/DD/YYYY</mat-hint>
              @if (form.value['startDate']) {
                <mat-icon matIconSuffix (click)="form.controls['startDate'].setValue(null);"
                  class="clickable">close
                </mat-icon>
              }
              <mat-datepicker-toggle matIconSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerStartDate></mat-datepicker>
              @if (form.get('startDate')?.hasError('required')) {
                <mat-error>
                  {{'loan/form/start-date-required' | translate}}
                </mat-error>
              }
            </mat-form-field>
            <mat-form-field class="half-width">
              <mat-label>{{ 'end-date' | translate }}</mat-label>
              <input matInput [matDatepicker]="pickerEndDate" formControlName="endDate" [attr.data-cy]="'end-date'">
              <mat-hint>MM/DD/YYYY</mat-hint>
              @if (form.value['endDate']) {
                <mat-icon matIconSuffix (click)="form.controls['endDate'].setValue(null);"
                  class="clickable">close
                </mat-icon>
              }
              <mat-datepicker-toggle matIconSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerEndDate></mat-datepicker>
              @if (form.get('endDate')?.hasError('required')) {
                <mat-error>
                  {{'loan/form/end-date-required' | translate}}
                </mat-error>
              }
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>{{ 'currency' | translate }}</mat-label>
              <mat-select formControlName="currencyId" [attr.data-cy]="'currency'" required>
                @for (currency of CacheService.getCurrencies(); track currency) {
                  <mat-option [value]="currency.id">{{ 'currency/' + currency.currentIsin | translate }}</mat-option>
                }
              </mat-select>
              @if (form.get('currencyId')?.hasError('required')) {
                <mat-error>
                  {{'loan/form/currency-required' | translate}}
                </mat-error>
              }
            </mat-form-field>
          }
          @if (nameInEdit) {
            <div>
              <button [attr.data-cy]="'save-button'" mat-raised-button color="primary"
                (click)="onSaveButtonClicked();">{{ 'save' | translate }}
              </button>&nbsp;
              <button [attr.data-cy]="'cancel-button'" mat-raised-button color="secondary"
                (click)="nameInEdit = false">{{ 'cancel' | translate }}
              </button>
              <button [attr.data-cy]="'delete-button'" style="float: right" mat-button color="warn"
                (click)="onDeleteButtonClicked();">{{ 'delete' | translate }}
              </button>
            </div>
          }
          @if (loanPart) {
            <h4>{{ 'loan/part/interests' | translate }}</h4>
            @for (interest of loanPart.interests; track interest) {
              @if (!isInterestInEdit(interest)) {
                <app-loan-interest-list-item [interest]="interest"
                (onEditCallback)="editInterestCallback(interest)"></app-loan-interest-list-item>
              }
              @if (!isInterestInEdit(interest)) {
                @if (!nameInEdit) {
                  <button mat-button (click)="onEditInterestButtonClicked(interest)">
                    <mat-icon>edit</mat-icon>
                  </button>
                }
              }
              @if (isInterestInEdit(interest)) {
                <app-loan-interest-form [interest]="interest"
                  (callback)="interestCallback($event)"
                (deleteCallback)="interestDeleteCallback()"></app-loan-interest-form>
              }
              <br/>
            }
          }
        </form>
      </mat-card-content>
    </mat-card>
  }

</div>
<div class="main-side-column main-column">
  <br/><br/><br/><br/><br/>
  @if (!nameInEdit && !interestInEdit) {
    <button mat-fab [attr.data-cy]="'add'"
      (click)="onAddInterestButtonClicked()" class="fab-button">
      <mat-icon>add</mat-icon>
    </button>
  }

</div>
