<div class="main-side-column main-column">
</div>
<div class="main-center-column-small main-column">
  <mat-card class="full-width" *ngIf="form" style="width: 100%;">
    <mat-card-header>
      <mat-card-title>{{ 'admin/security/edit-isin-title' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form">
        <ng-container>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ 'security/isin/symbol' | translate }}</mat-label>
            <input type="text" [attr.data-cy]="'symbol'" matInput formControlName="symbol">
          </mat-form-field>
          <br/>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ 'admin/security/isin/valid-from' | translate }}</mat-label>
            <input type="text" [attr.data-cy]="'validFrom'" matInput formControlName="validFrom">
          </mat-form-field>
          <br/>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ 'admin/security/isin/valid-to' | translate }}</mat-label>
            <input type="text" [attr.data-cy]="'validTo'" matInput formControlName="validTo">
          </mat-form-field>

        </ng-container>
        <br/>
        <button [attr.data-cy]="'save-button'" mat-raised-button color="primary"
                (click)="onSaveButtonClicked();">{{ 'save' | translate }}
        </button>&nbsp;
        <button [attr.data-cy]="'cancel-button'" mat-raised-button color="secundary"
                (click)="onCancelButtonClicked()">{{ 'cancel' | translate }}
        </button>
        <button [attr.data-cy]="'delete-button'" mat-button color="warn" style="float: right;"
                (click)="onDeleteButtonClicked();">{{ 'delete' | translate }}
        </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
