<div class="main-side-column main-column">
</div>
<div class="main-center-column-small main-column">
  <h2>Assets</h2>
  <ng-container *ngIf="aggregatedHistoricalMoneyHoldingValues.length == 0">
    <div [innerHTML]="'overview/extended-overview-message' | translate"></div>
  </ng-container>
  <div echarts [options]="chartOption" [initOpts]="initOptions" class="full-width"></div>
</div>
<div class="main-side-column main-column">
  <h2>Loans</h2>
  <ng-container *ngFor="let loanId of Object.keys(loansById)">
    <app-overview-loan [loan]="loansById[loanId]" [value]="loanValuesPerLoanId[loanId]"></app-overview-loan>
  </ng-container>
</div>
