<div class="main-side-column main-column">
  <h2>{{'money/cash-holding-overview' | translate}}</h2>
  @for (holding of holdings; track holding.id) {
    {{holding.account.name}}: <app-currency [currencyId]="holding.currencyId" [amount]="holding.amount"></app-currency><br/>
  }
</div>
<div class="main-center-column-small main-column">
  <h2>Assets</h2>
  @if (aggregatedHistoricalMoneyHoldingValues.length == 0) {
    <div [innerHTML]="'overview/extended-overview-message' | translate"></div>
  }
  <div echarts [options]="chartOption" [initOpts]="initOptions" class="full-width"></div>
</div>
<div class="main-side-column main-column">
  <h2>Loans</h2>
  @for (loanId of Object.keys(loansById); track loanId) {
    <app-overview-loan [loan]="loansById[loanId]" [value]="loanValuesPerLoanId[loanId]"></app-overview-loan>
  }
</div>
