<div class="main-side-column main-column">
</div>
@if (accounts) {
  <div class="main-center-column main-column">
    @if (accounts.length == 0) {
      <div>
        {{'import/introduction-text' | translate}}
      </div>
    }
    <form [formGroup]="form">
      @if (accounts.length > 0) {
        <mat-form-field class="half-width">
          <mat-label>{{ 'account' | translate }}</mat-label>
          <mat-select formControlName="account" [attr.data-cy]="'account'">
            @for (account of accounts; track account) {
              <mat-option [value]="account">{{ account.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
      <br/>
      <mat-form-field class="half-width">
        <mat-label>{{ 'asset/type' | translate }}</mat-label>
        <mat-select formControlName="assetType" [attr.data-cy]="'asset-type'">
          @for (assetType of Util.getAssetTypes(); track assetType) {
            <mat-option [value]="assetType">{{ 'asset/type/' + assetType | translate }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <br/>
      @if (form.value.account && form.value.assetType) {
        <input type="file" class="file-input" [attr.data-cy]="'file'" (change)="onFileSelected($event)" #fileUpload/>
      }
      <br/>
      <br/>
      @if (showCsvImportOptions) {
        <mat-form-field appearance="fill">
          <mat-label>{{ 'account/import/csv-file-separator' | translate }}</mat-label>
          <input type="text" [attr.data-cy]="'csv-separator'" matInput formControlName="csvSeparator">
        </mat-form-field>
        <button mat-raised-button
          color="{{showCustomHeaderConfig || moneyImportResult || securityImportResult ? 'secondary' : 'primary'}}"
          (click)="processImportFileContent()" [attr.data-cy]="'continue'" >{{ 'account/import/continue' | translate }}
        </button>
      }
      <br/>
      @if (moneyImportResult || securityImportResult) {
        <p>{{ 'account/import/do-import-no-dry-run-text' | translate }}</p>
        @if (!showLoadingText) {
          <button mat-raised-button color="primary"
            (click)="uploadFileToBackend(false)" [attr.data-cy]="'import'" >{{ 'account/import' | translate }}
          </button>
        }
      }
      <br/>
      @if (showLoadingText) {
        <p>{{'loading' | translate}}</p>
      }
      @if (moneyImportResult) {
        <app-money-import-result [transactions]="moneyImportResult"></app-money-import-result>
      }
      @if (securityImportResult) {
        <app-security-import-result
        [transactions]="securityImportResult"></app-security-import-result>
      }
    </form>
  </div>
}
@if (showCustomHeaderConfig && !showLoadingText) {
  <button mat-button color="primary"
    (click)="uploadFileToBackend(true)">{{ 'account/import/test-custom-import' | translate }}
  </button>
}
@if (showCustomHeaderConfig) {
  <app-select-columns [state]="importFileState"></app-select-columns>
}
