<div class="main-side-column main-column">
  @if (!nameInEdit) {
    <button mat-button (click)="onCancelButtonClicked();"><mat-icon>arrow_back</mat-icon> {{'money/transaction-group/back-to-list' | translate}}</button>
  }
</div>

<div class="main-center-column-small main-column">
  @if (form && loan) {
    <mat-card class="full-width" style="max-width: 100%; width: 100%;">
      <mat-card-header>
        <mat-card-title>{{'loan/loan' | translate}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form">
          @if (!nameInEdit) {
            {{loan.name}} <button mat-button (click)="nameInEdit = true"><mat-icon>edit</mat-icon></button>
            <br/><br/>
          }
          @if (nameInEdit) {
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>{{'loan/name' | translate}}</mat-label>
              <input type="text" [attr.data-cy]="'name'" matInput formControlName="name" required>
              @if (form.get('name')?.hasError('required')) {
                <mat-error>
                  {{'loan/form/name-required' | translate}}
                </mat-error>
              }
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>{{ 'loan/part/money-transaction-groups' | translate }}</mat-label>
              <mat-select formControlName="groupIds" [attr.data-cy]="'groups'" multiple>
                @for (group of groups; track group) {
                  <mat-option [value]="group.id">{{ group.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>{{ 'loan/date-range' | translate }}</mat-label>
              @if (form.get('dateRange')?.hasError('required')) {
                <mat-error>
                  {{'loan/form/date-range-required' | translate}}
                </mat-error>
              }
              <mat-select formControlName="dateRange" [attr.data-cy]="'date-range'" required>
                @for (dateRange of Util.getBudgetDateRanges(); track dateRange) {
                  <mat-option [value]="dateRange">{{ dateRange }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          }
          @if (nameInEdit) {
            <div>
              <button [attr.data-cy]="'save-button'"  mat-raised-button color="primary" (click)="onSaveButtonClicked();">{{'save' | translate}}</button>&nbsp;
              <button [attr.data-cy]="'cancel-button'"  mat-raised-button color="secondary" (click)="nameInEdit = false">{{'cancel' | translate}}</button>
              <button [attr.data-cy]="'delete-button'" style="float: right" mat-button color="warn" (click)="onDeleteButtonClicked();">{{'delete' | translate}}</button>
            </div>
          }
        </form>
      </mat-card-content>
    </mat-card>
  }
  <br/>
  @if (loan) {
    <app-loan-part-list [loanParts]="loan.loanParts" [loan]="loan"></app-loan-part-list>
  }
</div>
<div class="main-side-column main-column">
  <br/><br/><br/><br/><br/>
  @if (!nameInEdit && !interestInEdit) {
    <button mat-fab (click)="onAddLoanPartClicked()" class="fab-button" [attr.data-cy]="'add'"><mat-icon>add</mat-icon></button>
  }

</div>
