<div class="main-side-column main-column">
</div>
<div class="main-center-column main-column">
  <mat-card class="full-width" *ngIf="form" style="max-width: 100%; width: 100%;">
    <mat-card-header>
      <mat-card-title>{{ 'budget/create-budget' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form">
        <ng-container>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ 'budget/name' | translate }}</mat-label>
            <input type="text" [attr.data-cy]="'name'" matInput formControlName="name">
            <mat-icon matSuffix>name</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ 'budget/amount' | translate }}</mat-label>
            <input type="number" [attr.data-cy]="'amount'" matInput formControlName="amount">
            <mat-icon matSuffix>amount</mat-icon>
          </mat-form-field>

            <mat-form-field class="half-width">
                <mat-label>{{'start-date' | translate}}</mat-label>
                <input matInput [matDatepicker]="pickerStartDate" formControlName="startDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-icon *ngIf="form.value['startDate']" matIconSuffix (click)="form.controls['startDate'].setValue(null);" class="clickable">close</mat-icon>
                <mat-datepicker-toggle matIconSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerStartDate></mat-datepicker>
            </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>{{ 'budget/date-range' | translate }}</mat-label>
            <mat-select formControlName="dateRange" [attr.data-cy]="'date-range'">
              @for (dateRange of Util.getBudgetDateRanges(); track dateRange) {
                <mat-option [value]="dateRange">{{ dateRange }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>{{ 'budget/date-range-amount' | translate }}</mat-label>
                <input type="number" matInput formControlName="dateRangeAmount">
                <mat-icon matSuffix>amount</mat-icon>
            </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>{{ 'budget/money-transaction-groups' | translate }}</mat-label>
            <mat-select formControlName="groupIds" [attr.data-cy]="'groupIds'" multiple>
              @for (group of groups; track group) {
                <mat-option [value]="group.id">{{ group.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <br/>

        </ng-container>
        <button [attr.data-cy]="'save-button'" mat-raised-button color="primary"
                (click)="onSaveButtonClicked();">{{ 'save' | translate }}
        </button>
        <button [attr.data-cy]="'cancel-button'" mat-raised-button color="secundary"
                (click)="onCancelButtonClicked()">{{ 'cancel' | translate }}
        </button>
        <button [attr.data-cy]="'delete-button'" mat-button color="warn" style="float: right;"
                (click)="onDeleteButtonClicked();">{{ 'delete' | translate }}
        </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
<div class="main-side-column main-column">
</div>
