<div class="main-side-column main-column"></div>

<div class="main-center-column-small main-column">
  <mat-card class="full-width">
    <mat-card-header>
      <mat-card-title>{{ 'register' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="registered">
        You have now registered. Please check your email for the activation link.
      </ng-container>
      <form [formGroup]="form" *ngIf="!registered">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'email' | translate }}</mat-label>
          <input [attr.data-cy]="'email'" matInput type="text" formControlName="email">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'register/enter-your-password' | translate }}</mat-label>
          <input [attr.data-cy]="'password'" [type]="showPasswordFlag ? 'text' : 'password'" matInput
                 placeholder="Password" formControlName="password">
          <mat-icon class="clickable" (click)="showPasswordFlag=!showPasswordFlag"
                    matSuffix>{{ showPasswordFlag ? 'visibility' : 'visibility_off' }}
          </mat-icon>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'register/enter-your-password-again' | translate }}</mat-label>
          <input [attr.data-cy]="'password-again'" [type]="showPasswordFlag ? 'text' : 'password'" matInput
                 placeholder="Password" formControlName="passwordAgain">
          <mat-icon class="clickable" (click)="showPasswordFlag=!showPasswordFlag"
                    matSuffix>{{ showPasswordFlag ? 'visibility' : 'visibility_off' }}
          </mat-icon>
        </mat-form-field>
        <br/>
        <mat-error *ngIf="errorMessage" [attr.data-cy]="'error-message'">{{ errorMessage | translate }}</mat-error>

        <button [attr.data-cy]="'register-button'" (click)="onSubmit()" mat-raised-button
                color="primary">{{ 'register' | translate }}
        </button>
       <button [attr.data-cy]="'login-button'" style="float: right;" mat-button color="secundary" (click)="routeToLogin()">{{'login' | translate}}</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<div class="main-side-column main-column"></div>
