<div class="main-side-column main-column">
  <a mat-flat-button (click)="routeToAdminUserPreferences()" class="clickable"><mat-icon>people</mat-icon>{{'admin/user-preferences' | translatePipe}}</a><br/>
  <a mat-flat-button (click)="routeToAdminUsers()" class="clickable"><mat-icon>people</mat-icon>{{'admin/users' | translatePipe}}</a><br/>
  <a mat-flat-button (click)="routeToAdminSecurity()" class="clickable"><mat-icon>bar_chart</mat-icon>{{'admin/security' | translatePipe}}</a><br/>
  <a mat-flat-button (click)="routeToAdminMoney()" class="clickable"><mat-icon>account_balance</mat-icon>{{'admin/money' | translatePipe}}</a><br/>
  <a mat-flat-button (click)="routeToExport()" class="clickable"><mat-icon>cloud_upload</mat-icon>{{'admin/export' | translatePipe}}</a><br/>
  <a mat-flat-button (click)="routeToImport()" class="clickable"><mat-icon>cloud_download</mat-icon>{{'admin/import' | translatePipe}}</a>
</div>
<div class="main-center-column main-column">
  {{'admin/admin-home-text' | translatePipe}}
</div>
<div class="main-side-column main-column">
</div>
