<div class="main-side-column main-column">
  <a mat-flat-button (click)="routeToAdminUserPreferences()" class="clickable"><mat-icon>people</mat-icon>{{'admin/user-preferences' | translate}}</a><br/>
  <a mat-flat-button (click)="routeToAdminUsers()" class="clickable"><mat-icon>people</mat-icon>{{'admin/users' | translate}}</a><br/>
  <a mat-flat-button (click)="routeToAdminSecurity()" class="clickable"><mat-icon>bar_chart</mat-icon>{{'admin/security' | translate}}</a><br/>
  <a mat-flat-button (click)="routeToAdminMoney()" class="clickable"><mat-icon>account_balance</mat-icon>{{'admin/money' | translate}}</a><br/>
<!--  <a mat-flat-button (click)="routeToExport()" class="clickable"><mat-icon>cloud_upload</mat-icon>{{'admin/export' | translate}}</a><br/>-->
<!--  <a mat-flat-button (click)="routeToImport()" class="clickable"><mat-icon>cloud_download</mat-icon>{{'admin/import' | translate}}</a>-->
</div>
<div class="main-center-column main-column">
  {{'admin/admin-home-text' | translate}}
</div>
<div class="main-side-column main-column">
</div>
