<div class="main-side-column main-column">
  @if (!nameInEdit && !qualifierInEdit) {
    <button mat-button (click)="onCancelButtonClicked();"><mat-icon>arrow_back</mat-icon> {{'money/transaction-group/back-to-list' | translate}}</button>
  }
</div>

<div class="main-center-column-small main-column">
  @if (form && group) {
    <mat-card class="full-width" style="max-width: 100%; width: 100%;">
      <mat-card-header>
        @if (group.id) {
          <mat-card-title>{{'money/transaction-group/edit-group' | translate}}</mat-card-title>
        }
        @if (!group.id) {
          <mat-card-title>{{'money/transaction-group/create-group' | translate}}</mat-card-title>
        }
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form">
          @if (!nameInEdit) {
            {{group.name}} @if (!qualifierInEdit) {
            <button mat-button (click)="nameInEdit = true" [attr.data-cy]="'edit-group'"><mat-icon>edit</mat-icon></button>
          }
          <br/><br/>
        }
        @if (nameInEdit) {
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{'money/transaction-group/name' | translate}}</mat-label>
            <input type="text" [attr.data-cy]="'name'" matInput formControlName="name">
            @if (form.get('name')?.hasError('required')) {
              <mat-error>
                {{'money/transaction-group/form/name-required' | translate}}
              </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>{{'money/accounts' | translate}}</mat-label>
            <mat-select [attr.data-cy]="'account-ids'" multiple formControlName="accountIds">
              @for (account of accounts; track accounts) {
                <mat-option [value]="account.id">{{account.name}}</mat-option>
              }
            </mat-select>
            @if (form.get('accountIds')?.hasError('required')) {
              <mat-error>
                {{'money/transaction-group/form/account-required' | translate}}
              </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>{{ 'money/transaction-group/group-type' | translate }}</mat-label>
            <mat-select formControlName="groupTypes" [attr.data-cy]="'group-type'" multiple>
              @for (group of Util.getMoneyTransactionGroupTypes(); track group) {
                <mat-option [value]="group">{{ group }}</mat-option>
              }
            </mat-select>
            @if (form.get('groupTypes')?.hasError('required')) {
              <mat-error>
                {{'money/transaction-group/form/group-types-required' | translate}}
              </mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ 'money/transaction-group/budgeted' | translate }}</mat-label>
            <input type="number" [attr.data-cy]="'budgeted'" matInput formControlName="budgeted">
          </mat-form-field>
          <mat-form-field class="half-width">
            <mat-label>{{'start-date' | translate}}</mat-label>
            <input matInput [matDatepicker]="pickerStartDate" [attr.data-cy]="'start-date'" formControlName="startDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            @if (form.value['startDate']) {
              <mat-icon matIconSuffix (click)="form.controls['startDate'].setValue(null);" class="clickable">close</mat-icon>
            }
            <mat-datepicker-toggle matIconSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerStartDate></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>{{ 'money/transaction-group/date-range' | translate }}</mat-label>
            <mat-select formControlName="dateRange" [attr.data-cy]="'date-range'">
              @for (dateRange of Util.getBudgetDateRanges(); track dateRange) {
                <mat-option [value]="dateRange">{{ dateRange }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ 'money/transaction-group/date-range-amount' | translate }}</mat-label>
            <input type="number" matInput [attr.data-cy]="'date-range-amount'" formControlName="dateRangeAmount">
          </mat-form-field>
        }
        @if (nameInEdit) {
          <div>
            <button [attr.data-cy]="'save-button'"  mat-raised-button color="primary" (click)="onSaveButtonClicked(); nameInEdit = false">{{'save' | translate}}</button>&nbsp;
            <button [attr.data-cy]="'cancel-button'"  mat-raised-button color="secondary" (click)="nameInEdit = false">{{'cancel' | translate}}</button>
            <button [attr.data-cy]="'delete-button'" style="float: right" mat-button color="warn" (click)="onDeleteButtonClicked();">{{'delete' | translate}}</button>
          </div>
        }
        @if (group) {
          <h4>{{'money/transaction-group/subtitle' | translate}}</h4>
          @for (qualifier of group.qualifiers; track qualifier) {
            @if (!isQualifierInEdit(qualifier)) {
              <app-money-transaction-group-qualifier-list-item [qualifier]="qualifier" (onEditCallback)="editQualifierCallback(qualifier)"></app-money-transaction-group-qualifier-list-item>
            }
            @if (!isQualifierInEdit(qualifier)) {
              @if (!nameInEdit) {
                <button mat-button (click)="onEditQualifierButtonClicked(qualifier)"><mat-icon>edit</mat-icon></button>
              }
            }
            @if (isQualifierInEdit(qualifier)) {
              <app-money-transaction-group-qualifier-form [qualifier]="qualifier" (callback)="qualifierCallback($event)" (deleteCallback)="qualifierDeleteCallback()"></app-money-transaction-group-qualifier-form>
            }
            <br/>
          }
        }
      </form>
    </mat-card-content>
  </mat-card>
}

</div>
<div class="main-side-column main-column">
  <br/><br/><br/><br/><br/>
  @if (!nameInEdit && !qualifierInEdit && group != null && group.id) {
    <button mat-fab [attr.data-cy]="'add'" (click)="onAddQualifierButtonClicked()" class="fab-button"><mat-icon>add</mat-icon></button>
  }

</div>
