<form [formGroup]="form">
  <ng-container>
    <mat-form-field class="half-width">
      <mat-label>{{'start-date' | translate}}</mat-label>
      <input matInput [matDatepicker]="pickerStartDate" formControlName="startDate" [attr.data-cy]="'start-date'">
      <mat-hint>MM/DD/YYYY</mat-hint>
      @if (form.value['startDate']) {
        <mat-icon matIconSuffix (click)="form.controls['startDate'].setValue(null);" class="clickable">close</mat-icon>
      }
      <mat-datepicker-toggle matIconSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerStartDate></mat-datepicker>
      @if (form.get('startDate')?.hasError('required')) {
        <mat-error>
          {{'loan/form/start-date-required' | translate}}
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>{{'end-date' | translate}}</mat-label>
      <input matInput [matDatepicker]="pickerEndDate" formControlName="endDate" [attr.data-cy]="'end-date'">
      <mat-hint>MM/DD/YYYY</mat-hint>
      @if (form.value['endDate']) {
        <mat-icon matIconSuffix (click)="form.controls['endDate'].setValue(null);" class="clickable">close</mat-icon>
      }
      <mat-datepicker-toggle matIconSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerEndDate></mat-datepicker>
      @if (form.get('endDate')?.hasError('required')) {
        <mat-error>
          {{'loan/form/end-date-required' | translate}}
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 50%">
      <mat-label>{{'loan/part/interest/amount' | translate}}</mat-label>
      <input type="text" [attr.data-cy]="'amount'" matInput formControlName="amount" required>

      @if (form.get('amount')?.hasError('required')) {
        <mat-error>
          {{'loan/form/amount-required' | translate}}
        </mat-error>
      }
    </mat-form-field>
  </ng-container>
  <br/>
  <button [attr.data-cy]="'save-button'" mat-raised-button color="primary" (click)="onSaveButtonClicked();">{{'save' | translate}}</button>&nbsp;
  <button [attr.data-cy]="'cancel-button'" mat-raised-button color="secondary" (click)="onCancelButtonClicked()">{{'cancel' | translate}}</button>
  <button [attr.data-cy]="'delete-button'" style="float: right" mat-button color="warn" (click)="onDeleteButtonClicked();">{{'delete' | translate}}</button>

</form>
